<!-- <div class="header pl-5 header-row"> -->
  <nav class="header header-row navbar top-navbar navbar-expand-md navbar-light row">
    <div class="pl-5 navbar-header col-xl col-lg-4 col-md-4 col-sm-12-12 col-xs">
      <a class="col-xs navbar-brand" href="index.html">
        <b>
          <!--<img src="assets/images/logo.png" alt="homepage" class="dark-logo" />-->
          <img src="../assets/images/NissanInfinitiLogo.jpg" alt="homepage" width="120" height="60" class="dark-logo"/>
        </b>
      </a>
    </div>
    <!-- End Logo -->
    <div class="navbar-collapse col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div  class="row">
        <ul class="navbar-nav mt-md-0">
          <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
          <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>      </ul>
        <div>
        <h3 class="header-title text-primary">3MIS Warranty Application</h3>
          </div>
      </div>
      <!-- toggle and nav items -->
      
    </div>
  </nav>
<!-- </div> -->